.container {
    background-color: #DCA629;
    border-radius: 20px;
}

hr {
   color:#E08D8D;
}

h1 {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-family: 'Rancho', cursive;
}

#dodaj {
    padding-left: 30px;
    font-size: 200%;
    font-weight: bold;
    font-family: 'Patrick Hand', cursive;
    
}

.btn-success {
    font-size: 150%;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    outline: none !important;
}

input {
    min-width: 250px;
    border-radius: 10px;
    border:none;
    outline: none;
    background-color: #EFBA9B;
    padding: 7px;
    padding-left: 15px;
}

label {
    font-size: 130%;
}